body
{
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 5px;
}
p {
    color:white;
    font-size:2em;
}
ol {
    color:white;
}
img {
    max-width: 100%;
    height: auto;
}
@media all and (max-width: 600px) and (orientation:landscape) 
{ font-family{ font-family: Verdana, sans-serif;}
}